//colorscheme
$primary-color: #17c2ec;
$text-white: #fff;
$text-gray: rgba(255, 255, 255, 0.7);
$text-black: #000;

//cards
$card-background-color: rgba(196, 196, 196, 0.15);
$border-radius: 20px;

//buttons
$button-border-radius: 20px;
$button-padding: 20px 25px;

//mobile-font-sizes
$mobile-header-font-size: 24px;
$mobile-paragraph-font-size: 14px;
$mobile-thin-font-size: 12px;

//tablet font size
$tablet-header-font-size: 36px;
$tablet-paragraph-font-size: 20px;
$tablet-thin-font-size: 18px;

//laptop-font-size
$laptop-header-font-size: 48px;
$laptop-paragraph-font-size: 24px;
$laptop-thin-font-size: 18px;


//buttons
$button-padding: 20px 25px;