//mobile-font-sizes
$mobile-header-font-size: 24px;
$mobile-paragraph-font-size: 14px;
$mobile-thin-font-size: 12px;

//tablet font size
$tablet-header-font-size: 36px;
$tablet-paragraph-font-size: 20px;
$tablet-thin-font-size: 18px;

//laptop-font-size
$laptop-header-font-size: 48px;
$laptop-paragraph-font-size: 24px;
$laptop-thin-font-size: 18px;
