html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
}

canvas{
    background-color: black;
    object-fit: cover;
    width: 100%;
    image-rendering: crisp-edges;
    /* image-rendering: pixelated; */
}
img{
    display: none;
}